<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating</title>
    <script src="/dating-app/Controller/feedController.js"></script>
</head>
<body>
    <h2>Feed</h2>

        <form action="/feed" method="GET">
            <button id="feed">Feed</button>
        </form>

        <form action="/profile" method="GET">
            <button id="profile">Profile</button>
        </form>

        <form action="/matches" method="GET">
            <button id="matches">Matches</button>
        </form>
    
        <form action="/LogOut" method="GET">
            <button id="logOut">Log Out</button>
        </form> 

    <div class="message">
        <p id="message"> <%= message %></p>
    </div>

    <div class="suggestedUser">

        <p id="name"> <%= name %> </p>
        <p id="age"><%= age %></p>
        <p id="city"><%= city %></p>
    </div>

    <div class="buttons">
        <form action="/like" method="GET">
        <button id="like-button">Like</button>
        </form>

        <form action="/dislike">
        <button id="dislike-button">dislike</button>
    </form>
    </div>

</body>
</html>