<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating</title>
</head>
<body>
    <h2>Feed</h2>

    <div class="links">
        <a href="./mainFeed.html">Feed</a>
        <a href="./profile.html">Profile</a>
        <a href="./matches.html">Matches</a>
        <a href="logout">Logout</a>
    </div>

    <div class="suggestedUser">

        <p id="name">Suggedsted User's name</p>
        <p id="age">Suggedsted user's age</p>
        <p id="city">Suggedsted user's city</p>
        <p id="gender">Suggedsted user's gender</p>
    </div>

    <div class="buttons">

        <button>Like</button>
        <button>dislike</button>
    </div>

</body>
</html>