<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating</title>
</head>
<body>

    <!-- This is the matches page. Consists of the 4 buttons to navigate through the pages and the first like from a user-->
    <h3>Your matches</h3>

    <form action="/feed" method="GET">
        <button id="feed">Feed</button>
    </form>

    <form action="/profile" method="GET">
        <button id="profile">Profile</button>
    </form>

    <form action="/matches" method="GET">
        <button id="matches">Matches</button>
    </form>

    <form action="/LogOut" method="GET">
        <button id="logOut">Log Out</button>
    </form> 


    <p id="name"> <%= name %> </p>
        <p id="age"><%= age %></p>
        <p id="city"><%= city %></p>

</body>
</html>