<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Your matches</h3>

    <div class="links">
        <a href="./mainFeed.html">Feed</a>
        <a href="./profile.html">Profile</a>
        <a href="./matches.html">Matches</a>
        <a href="logout">Logout</a>
    </div>

    <div id="table"></div>

</body>
</html>