<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating</title>
</head>

<body>
    <h1>Sign up</h1>
    
    <!--Error messages-->
        <p><%= errors %></p>

<!--Sign up form -->
    <form action="/signUp" id="form" method="POST" class="signUp-form">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"> <br><br> 
            <div id="password-requirements">
                <b>Password requirements:</b>
                <div id="password-length">
                Min 8 characters:
                </div>
            </div>
        </div>
        <br>
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <br>
        <div>
            <label for="birthday">Birthday:</label>
            <input type="date" name="birthday" id="birthday">
        </div>
        <br>
        <div>
            <label for="city">city:</label>
            <input type="text" name="city" id="city">
        </div>
        <br>
        <div class="button">
            <button type="submit" id="signUp-button">Sign up</button>
        </div>
        
    </form>

    <form action="/" method="GET">
    
        <button type="submit" id="signIn">Go to sign in page</button>
    
    </form>

</body>

</html>