<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="script.js"></script>
</head>

<body>
    <h1>Sign up</h1>
    <div id="error" class="errors"></div>
    <br>

<!--Følgende er den formular, som brugeren kan skrive sit input i. Der er valgt typer til felterne, som passer til de forskellige input. -->
    <form action="/signUp" id="form" method="POST" class="signUp-form">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"> <br><br> 
            <div id="password-requirements">
                <b>Password requirements:</b>
                <div id="password-length">
                Min 8 characters:
                </div>
            </div>
        </div>
        <br>
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <br>
        <div>
            <label for="birthday">Birthday:</label>
            <input type="date" name="birthday" id="birthday">
        </div>
        <br>
        <div>
            <label for="city">city:</label>
            <input type="text" name="city" id="city">
        </div>
        <br>
        <div class="button">
            <button type="submit" id="signUp-button">Sign up</button>
        </div>
    </form>

</body>

</html>